-- Select a book to receive a books description
-- User clicking on book saves It's data to database
-- A list of main points of the book is listed for the user
to read and saved in the database so the prompt doesn't need
to be recreated.
-- Administrator can manually add characters that chat-bot can 	  imitate
-- User can have a conversation with the books characters




