"Book page" - in this context is website page that opens when you click on book from book library

-- User selects a book that he has read, book is added to read books tab
-- Dashboard displays last book read, how long ago, recommendations for next read
-- User can write main ideas in book page
-- In book page user sees books worth reading that are similar to selected book
-- Pressing on book opens up page that displays key book ideas
-- Dashboard displays mains ideas from entirety of book library
